body  {
	/*作者：bing壁纸（来着 mcc1o8闵聪的图片获取）*/
  background-image:url(https://congm.in/bing.php);
  z-index: -1;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
  /*height: 100%;*/
  width: 350px;
	/*overflow:scroll;*/
	overflow-x:hidden;
	overflow-y:hidden;

}
.main{
	position: absolute;
	top: 28%;
	left: 50%;
	margin-left: -300px;
	font-size: 40px;
	color: #fcfcfc;
	font-family:Helvetica Neue,Helvetica,Arial,Microsoft YaHei,sans-serif;

}

::-webkit-input-placeholder { /* WebKit browsers */
color:rgba(13, 12, 14, 0.59);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:rgba(13, 12, 14, 0.59);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:rgba(13, 12, 14, 0.59);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color:rgba(13, 12, 14, 0.59);
}
.main_input{
	position:relative;
	bottom:5px;
	width:420px;
	height:40px;
	padding:10px 0;
	margin:0 auto;
	outline:none;
	border:1px solid #d3d3d3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 0 5px #d3d3d3;
	-moz-box-shadow:0 0 5px #d3d3d3;
	-webkit-box-shadow:0 0 5px #d3d3d3;
	background-color:hsla(0,0%,100%,.1);
	-webkit-transition:all .5s;
	transition:all .5s;
	font-size: 25px;
	color: #fcfcfc;

	}
.main_input:hover{
	box-shadow:0 0 10px #d3d3d3;
	-moz-box-shadow:0 0 10px #d3d3d3;
	-webkit-box-shadow:0 0 10px #d3d3d3;
	border:1px solid #3bb4f2;
	background-color:rgba(59,180,242,.1)
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.bottom{
	position: absolute;
	top: 95%;
	left: 50%;
	margin-left: -90px;
	font-size: 20px;
	color: #fcfcfc;
	font-family:Helvetica Neue,Helvetica,Arial,Microsoft YaHei,sans-serif;
}
.a.color{color:rgba(0,0,0,0.25); text-decoration:none;font-weight:bold;}/*链接设置*/
/*.a.color:visited{color:#3399CC; text-decoration:none;font-weight:bold;}/*访问过的链接设置*/*/
.a.color:hover{color:#CF0000; text-decoration:underline;font-weight:bold;}/*鼠标放上的链接设置*/
.button_fanwei{

	padding-left: 100px;
}
.a.font{
	color: #fcfcfc;
}
.navi_div{
	position: absolute;
	top: 61%;
	left: 50%;
	margin-left: -320px;
	font-size: 20px;
	color: #fcfcfc;
	font-family:Helvetica Neue,Helvetica,Arial,Microsoft YaHei,sans-serif;
}
.button, .button:visited {
	background: #222 url(overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}
.small.button, .small.button:visited
		       { font-size: 11px}
.button, .button:visited,.medium.button, .medium.button:visited 		{ font-size: 13px;
							font-weight: bold;
							line-height: 1;
						text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
												  }

	.large.button, .large.button:visited{
		font-size: 14px;
		padding: 8px 14px 9px;
	}

		.pink.button, .magenta.button:visited	{ background-color: rgba(59,180,242,.1); }
	.pink.button:hover					{ background-color: #c81e82; }
/*google绿*/
	.green.button, .green.button:visited	{ background-color: rgba(59,180,242,.1); }
	.green.button:hover				        { background-color: #34a853; }
/*/胖次灰*/
	.grep.button, .grep.button:visited		{ background-color:rgba(59,180,242,.1); }
	.grep.button:hover					{ background-color: #353535; }

	.orange.button, .orange.button:visited	{ background-color: rgba(59,180,242,.1); }
	.orange.button:hover				{ background-color: #d45500; }
/*baidu蓝*/
	.blue.button, .blue.button:visited   	        { background-color: rgba(59,180,242,.1); }
	.blue.button:hover					{ background-color: #3388ff; }
/*/github紫*/
	.purple.button, .purple.button:visited	{ background-color: rgba(59,180,242,.1); }
	.purple.button:hover				{ background-color: #9469e9; }
