body  {
	/*作者：bing壁纸（来着 mcc1o8闵聪的图片获取）*/
  background-image:url(https://congm.in/bing.php);
  z-index: -1;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
  /*height: 100%;*/
  width: 350px;
	/*overflow:scroll;*/
	overflow-x:hidden;
	overflow-y:hidden;

}
.main{
	position: absolute;
	top: 28%;
	left: 50%;
	margin-left: -300px;
	font-size: 40px;
	color: #fcfcfc;
	font-family:Helvetica Neue,Helvetica,Arial,Microsoft YaHei,sans-serif;

}


.main_input{
	position:relative;
	bottom:5px;
	width:420px;
	height:40px;
	padding:10px 0;
	margin:0 auto;
	outline:none;
	border:1px solid #d3d3d3;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0 0 5px #d3d3d3;
	-moz-box-shadow:0 0 5px #d3d3d3;
	-webkit-box-shadow:0 0 5px #d3d3d3;
	background-color:hsla(0,0%,100%,.1);
	-webkit-transition:all .5s;
	transition:all .5s;
	font-size: 20px;
	color: #fcfcfc;

	}
.main_input:hover{
	box-shadow:0 0 10px #d3d3d3;
	-moz-box-shadow:0 0 10px #d3d3d3;
	-webkit-box-shadow:0 0 10px #d3d3d3;
	border:1px solid #3bb4f2;
	background-color:rgba(59,180,242,.1)
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.main_button{
	-webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
.orange {

	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
